<nav class="navbar pt-1 pb-1">
    <span class="navbar-brand p-0 m-0">Reimbursement Claims : Processing</span>
</nav>
<section id="reimbursment">
    <div class="leftContainer">
        <div class="row m-0">
            <div class="leftContentPart float-left pl-0" id="detailAccWrap" ng-class="{'detailAccWrapClose' : !infoToggle}">
                <div id="detailAcc">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="true">
                            <div>
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Provider Details <span class="oi" data-glyph="minus"></span></button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading> 
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis</label>
                                            <input type="text" ng-model="providerDetails.primaryDiagnosis" ng-value="'Stomach Pain'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis Description</label>
                                            <input type="text" ng-model="providerDetails.primaryDiagDesc">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis (ICD)</label>
                                            <input type="text" ng-model="providerDetails.secDiagnosis">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis Description</label>
                                            <input type="text" ng-model="providerDetails.secDiagnosisDesc">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <div>
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Policy Details <span class="oi" data-glyph="plus"></span></button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Event Country</label>
                                            <input type="text" ng-model="policyDetails.country" ng-value="'Dubai'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Claim Condition</label>
                                            <input type="text" ng-model="policyDetails.claimCondition">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <div>
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Member Details <span class="oi" data-glyph="plus"></span></button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis</label>
                                            <input type="text" ng-model="memberDetails.primaryDiagnosis" ng-value="'Stomach Pain'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis Description</label>
                                            <input type="text" ng-model="memberDetails.primaryDiagDesc">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis (ICD)</label>
                                            <input type="text" ng-model="memberDetails.secDiagnosis">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis Description</label>
                                            <input type="text" ng-model="memberDetails.secDiagnosisDesc">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>    
                    </uib-accordion>
                </div>                
            </div>
            <div class="rightContentPart float-right pr-0 pb-3">
                <a href="javascript:;" class="infoToggleBtn" ng-class="{'infoToggleBtnToggled' : infoToggle}" ng-click="infoToggle = !infoToggle" ng-style="{'margin-left' : !infoToggle ? '12px' : '0px'}"><span class="oi" data-glyph="arrow-left"></span> <br />info</a>
                <div class="medicalCardInfoBox medicalCardInfoBoxShow" id="medicalCardInfoBox" ng-class="{'medicalCardInfoBoxShow' : !infoToggle}">
                    <h3>Medical card info</h3>
                    <ul>
                        <li>
                            <span>Inpatient: </span>
                            <span>Nil</span>
                        </li>   
                        <li>
                            <span>Pharmacy:</span>
                            <span>10%</span>
                        </li>
                        <li>
                            <span>Consultation:</span>
                            <span>50 AED</span>
                        </li>
                        <li>
                            <span>Dental:</span>
                            <span>10%</span>    
                        </li>
                        <li>
                            <span>Lab:</span>
                            <span>10%</span>
                        </li>
                    </ul>
                </div>
                <ul class="infoList clearfix">
                    <li>
                        <span>Claim Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Request Number</span>
                        <strong>10010201-1</strong>
                    </li>
                    <li>
                        <span>Status</span>
                        <strong class="text-success">Approved</strong>
                    </li>
                    <li>
                        <span>Policy Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Voucher Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Member Number</span>
                        <strong>10010201-1</strong>
                    </li>
                </ul>
                <div class="requestListWrap clearfix">
                    <div class="requstListSlidePart">
                        <div class="requstList">
                            <ui-carousel slides="claimReqList" class="eclaim" style="width:{{getWidth()}};" slides-to-show="noOfSlides" slides-to-scroll="1" initial-slide="0" infinite="false">
                                <carousel-item  class="eclaim-item">
                                    <li style="cursor:pointer">
                                        <span><b>Request Number:</b> #{{item.reqNum}} &nbsp;</span><strong ng-class="{'text-success' : item.status == 'Approved', 'text-danger' : item.status == 'Rejected'}">{{item.status}}</strong>
                                        <p><b>Claim Status Reason:</b> {{item.statusReason}}</p>
                                        <p><b>Rejected Reason:</b> {{item.rejectedReason}}</p>
                                    </li>
                                </carousel-item>                
                                <carousel-prev>
                                    <a href="javascript:;" class="requstListLeftArrow"><span class="oi" data-glyph="chevron-left"></span></a>
                                </carousel-prev>
                                <carousel-next>
                                    <a href="javascript:;" class="requstListRightArrow"><span class="oi" data-glyph="chevron-right"></span></a>
                                </carousel-next>
                            </ui-carousel>
                        </div>                        
                    </div>                    
                </div>
                <div class="clearfix  mt-4" style="margin-right: 2%;">
                    <h3 class="innerHeadText float-left">Claim Treatment/Service Level</h3><div class="currencyType float-left">Currency: AED</div>
                    <!-- <a href="javascript:;" class="custCheckboxBtn float-right ml-3" ng-init="checkAll=false;" ng-class="{custCheckboxBtnSected : checkAll}" ng-click="checkAll=!checkAll;selectAll(checkAll);">
                        <span class="oi" data-glyph="check" style="top:0px !important"></span>
                    </a>
                    <div class="btn-group btn-group-sm claimStatusBtns float-right" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">
                            <span class="oi" data-glyph="check"></span>
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="oi" data-glyph="reload"></span>
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="oi" data-glyph="thumb-up"></span>
                        </button>
                        <button type="button" class="btn btn-secondary">
                            <span class="oi" data-glyph="thumb-down"></span>
                        </button>
                        <button type="button" class="btn btn-secondary" ng-disabled="true">
                            <span class="oi" data-glyph="delete"></span>
                        </button>
                    </div> -->
                </div>
                <div ng-repeat="claim in claimsResult">
                    <div class="claimRequestDetails mt-3">
                        <div class="claimRequestDetInner mb-3 clearfix">
                            <div class="row mb-2 clearfix">
                                <div class="masterCodes col-sm-2 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px 0 19px;">
                                    <md-autocomplete
                                        md-selected-item="claim.treatmentCodeOrSubBenefit"
                                        md-search-text="searchText"
                                        md-items="item in querySearch(searchText, 'T')"
                                        md-item-text="item.name"
                                        md-floating-label="Treatment Code/Sub Benefit"
                                        md-clear-button="true"
                                        style="height: 55px;">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Result Found
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div class="col-sm-1 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Service From</label>
                                        <md-datepicker ng-model="claim.serviceFrom" md-hide-icons="all" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-1 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Service To</label>
                                        <md-datepicker ng-model="claim.serviceTo" md-hide-icons="all" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-1 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Days</label>
                                        <input type="number" ng-model="claim.days">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-1.5 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Requested Amount</label>
                                        <input type="number" ng-model="claim.requestAmount">
                                    </md-input-container>
                                </div>
                                <div class="col-sm-1.5 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Manual Deduction</label>
                                        <input type="number" ng-model="claim.manualDeduction">
                                    </md-input-container>
                                </div>
                                <div class="masterCodes col-sm-1 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-autocomplete
                                        md-selected-item="claim.rejectionCode"
                                        md-search-text="rejectionText"
                                        md-items="item in querySearch(rejectionText, 'R')"
                                        md-item-text="item.name"
                                        md-floating-label="Rejection Code"
                                        style="height: 55px;">
                                        <md-item-template>
                                            <span md-highlight-text="rejectionText" md-highlight-flags="^i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Result Found
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                            </div>
                            <div class="withBorGrayTxtWrap clearfix">
                                <div class="col-sm-4 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">
                                        <label>Internal Remarks</label>
                                        <textarea class="claimReqIput" ng-model="claim.internalRemarks" rows="2"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">
                                        <label>External Remarks</label>
                                        <textarea class="claimReqIput" ng-model="claim.externalRemarks" rows="2"></textarea>
                                    </md-input-container>
                                </div>
                                <!-- <div class="col-sm-1 float-right">
                                    <div class="btn-group btn-group-sm claimStatusBtns mt-2 float-right" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary">
                                            <span class="oi" data-glyph="check"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary">
                                            <span class="oi" data-glyph="reload"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary">
                                            <span class="oi" data-glyph="thumb-up"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary">
                                            <span class="oi" data-glyph="thumb-down"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" ng-click="deleteRecord($index);">
                                            <span class="oi" data-glyph="delete"></span>
                                        </button>
                                        <a href="javascript:;" class="custCheckboxBtn float-right ml-3" ng-click="claim.onCheck=!claim.onCheck" ng-class="{custCheckboxBtnSected : claim.onCheck}">
                                            <span class="oi" data-glyph="check" style="top:0px !important"></span>
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="withoutBorWrap clearfix mb-2">
                                <div layout-gt-sm="row">
                                    <div class="col-sm-1.5 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">   
                                            <label>Policy Ded Amount</label>
                                            <input type="text" ng-model="claim.policyDedAmount">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1.5 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Penalty Amount</label>
                                            <input type="text" ng-model="claim.penaltyAmount">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1.5 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Suggessted Amt</label>
                                            <input type="text" ng-model="claim.suggesstedAmount">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1.5 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Approved Amount</label>
                                            <input type="text" ng-model="claim.approvedAmount">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1.5 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Rejected Amount</label>
                                            <input type="text" ng-model="claim.rejectedAmount">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-1 float-left" style="width: auto !important;">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Status</label>
                                            <input type="text" ng-model="claim.status">
                                        </md-input-container>
                                    </div>
                                    <!-- <div class="col-sm-6 float-right">
                                        <a href="javascript:;" class="float-right claimReqLink mr-3 ml-3 mt-3" style="font-size: 11px;"><span class="oi" data-glyph="info"></span> Reinsurance</a>
                                        <a href="javascript:;" class="float-right claimReqLink mr-3 mt-3" style="font-size: 11px;"><span class="oi" data-glyph="info"></span> History</a>
                                        <a href="javascript:;" class="float-right claimReqLink mr-3 mt-3" style="font-size: 11px;"><span class="oi" data-glyph="info"></span> Policy Rules</a>
                                    </div> -->
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="eclaimRequest text-center mt-4">
                    <div class="clearfix">
                        <a href="javascript:;" class="custCheckboxBtn float-left" ng-class="{'custCheckboxBtnSected' : isChecked}" ng-click="toggleSelect();" style="margin: 15px 9px 0px 6px !important;">
                            <span class="oi" data-glyph="check"></span>
                        </a>
                        <div class="btn-group btn-group-sm claimStatusBtns mt-2 mb-2 float-left" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="check"></span>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="thumb-up"></span>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="thumb-down"></span>
                            </button>                            
                        </div>
                        <h3 class="innerHeadText mt-2 mb-2 d-inline-block">Claim Treatment/Service Level</h3><div class="currencyType d-inline-block">Currency: AED</div>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" ng-click="addRow();">
                            <span class="oi" data-glyph="plus"></span>
                        </a>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" id="right-button">
                            <span class="oi" data-glyph="chevron-right"></span>
                        </a>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 ml-2" id="left-button">
                            <span class="oi" data-glyph="chevron-left"></span>
                        </a>
                    </div>
                    <div class="table eclaimRequestTabl">
                        <div ui-grid="gridOptions" ui-grid-pinning="" ui-grid-edit="" class="eclaimRequestTabl"></div>
                    </div>
                </div>        
        </div>
        
        <footer class="clearfix">
            <button type="button" class="btn btn-primary btn-sm float-right ml-3 mt-3">Submit for Approval</button>
            <button type="button" class="btn btn-outline-primary btn-sm float-right ml-3  mt-3">Reject</button>
            <ul class="float-right clearfix mt-1">
                <li class="float-left">
                    <span>Total deduction</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Total Penalty Amount</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Total Approved Amount</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Rejected Amount</span>
                    <strong>1,50,900</strong>
                </li>
            </ul>
            
            <a href="javascript:;" class="btn-link footerLink mr-3 float-left">
                <span class="oi" data-glyph="print"></span>
                Print Rejection
            </a>
            <a href="javascript:;" class="btn-link footerLink float-left">
                <span class="oi" data-glyph="envelope-closed"></span>
                Send Rejection
            </a>
        </footer>
    </div>
</section>