<div id="newRegClaims">
    <div class="container modal-header">
        <h5 class="modal-title" id="modal-title"> Existing claim result 
            <span style="float:right">
                <button type="button" class="close" ng-click="cancelModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </span>
        </h5>
        <div class="existingClaimInfo pb-3 pt-2">
            <div class="row">
                <div class="col-sm">
                    <span>Member Number:</span>
                    <span>#{{searchObj.memberNumber}}</span>
                </div>
                <div class="col-sm">
                    <span>Policy Number:</span>
                    <span>#{{searchObj.policyNumber}}</span>
                </div>
                <div class="col-sm">
                    <span>Voucher Number:</span>
                    <span>#{{searchObj.voucherNumber}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body" id="modal-body" style="max-height:400px; overflow:auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Member Name</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Service From Date</th>
                    <th scope="col">Encounter Type</th>
                    <th scope="col">Request received date</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="claim in searchedList">
                    <td>{{claim.memberName}}</td>
                    <td>{{claim.mobileNum1}}</td>
                    <td>{{claim.serviceFmDate | date:'mediumDate'}}</td>
                    <td>{{claim.encType}}</td>
                    <td>{{claim.reqReceivedDate | date:'mediumDate'}}</td>
                    <td class="text-right"><button type="button" class="btn btn-outline-primary btn-sm" ng-click="continue(claim)">Continue</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer justify-content-center b0 pt-0">
        <button type="button" class="btn btn-primary" ng-click="newClaim()">Register new claim</button>
    </div>
</div>