<nav class="navbar pt-1 pb-1">
    <span class="navbar-brand p-0 m-0" ui-sref="claim-registration">Claims Registration</span>
</nav>
<toaster-container></toaster-container>
<section>
    <div class="leftContainer leftreg">
        <div class="contentPart">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7 p-0">
                        <div class="reimbListTabl">
                            <div layout-gt-sm="row">
                                <div style="border-left: 1px solid #e6e6e6;width: 100% !important;">
                                    <md-input-container flex-gt-sm>
                                        <label>IBAN Number</label>
                                        <input ng-model="ibanNum">
                                    </md-input-container>
                                </div>
                                <div style="border-left: 1px solid #e6e6e6;width: 100% !important;">
                                    <md-input-container flex-gt-sm>
                                        <label>Member Card Number</label>
                                        <input ng-model="memberNumber">
                                    </md-input-container>
                                </div>
                                <div style="border-left: 1px solid #e6e6e6;width: 100% !important;">
                                    <md-input-container flex-gt-sm>
                                        <label>Reference Number</label>
                                        <input ng-model="referenceNumber">
                                    </md-input-container>
                                </div>
                                <div style="border-left: 1px solid #e6e6e6;width: 100% !important;">
                                    <md-input-container flex-gt-sm>
                                        <label> PolicyNumber</label>
                                        <input ng-model="policyNumber">
                                    </md-input-container>
                                </div>
                                <div class="searchColm align-middle text-center" ng-click="searchBtn()" style="width: 50% !important ;padding-top:10px;">
                                    <a href="javascript:;" class="searBtn mt-1 ml-1 align-middle"><span class="oi align-middle" data-glyph="magnifying-glass"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 p-0">
                        <a href="javascript:;" class="btn btn-primary createNewBtn float-left mt-3 ml-4" ui-sref="claim-registration-new" style="float:right; padding-left:5px;">Register New Claim</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="clearfix"></div>
        <div class="contentPart pt-3 pb-3">
            <div class="container-fluid regfont">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="reimbListTabl" id="reimbListTabl">
                            <h3 class="innerHeadText mt-2 mb-2 ml-2 d-inline-block">Registered Request</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-click="sortBy('referenceNumber')">Reference Number
                                            <span class="fa" ng-show="propertyName == 'referenceNumber'" ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span> 
                                        </th>
                                        
                                        <th ng-click="sortBy('memberNumber')">Member Card Number
                                            <span class="fa" ng-show="propertyName == 'memberNumber'"ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('memberName')">Member Name
                                            <span class="fa" ng-show="propertyName == 'memberName'"ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('policyNumber')">Policy Number
                                            <span class="fa" ng-show="propertyName == 'policyNumber'"ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('paymentWay')">Payment Type
                                            <span class="fa" ng-show="propertyName == 'paymentWay'"ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('ibanNum')">IBAN Number
                                            <span class="fa" ng-show="propertyName == 'ibanNum'"ng-class="{'fa-hand-o-down': reverse, 'fa-hand-o-up' : !reverse}"></span>
                                        </th>
                                        <th>IBAN Document</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="claim in claims | orderBy:propertyName:reverse">
                                        <td><a href="javascript:void(0);" ng-click="editClaim(claim);" ng-click="navigateTo();">{{claim.referenceNumber}}</a></td>
                                        <td>{{claim.memberNumber}}</td>
                                        <td>{{claim.memberName}}</td>
                                        <td>{{claim.policyNumber}}</td>
                                        <td>{{claim.paymentWay}}</td>
                                        <td>{{claim.ibanNum}}</td>
                                        <td class="text-center">
                                            <a class="oi" data-glyph="paperclip" href="resources/img/dis.png" download></a>
                                        </td>
                                    </tr>
                                </tbody> 
                            </table>
                            <div ng-if="claimTreatMent.length === 0" style="padding:10px"> <p><font size="3"><center>NO ITEMS FOUND</center></font></p></div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>