<nav class="navbar pt-1 pb-1">
    <span class="navbar-brand p-0 m-0">EClaim</span>
</nav>
<section id="eClaims">
    <div class="leftContainer">
        <div class="row m-0">
            <div class="leftContentPart float-left pl-0" id="detailAccWrap" ng-class="{'detailAccWrapClose' : !infoToggle}">
                <div id="detailAcc">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="true">
                            <div>
                                <div uib-accordion-heading ng-click="isOpen = ! isOpen">
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Provider Details 
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </div> 
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis</label>
                                            <input type="text" ng-model="providerDetails.primaryDiagnosis" ng-value="'Stomach Pain'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis Description</label>
                                            <input type="text" ng-model="providerDetails.primaryDiagDesc">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis (ICD)</label>
                                            <input type="text" ng-model="providerDetails.secDiagnosis">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis Description</label>
                                            <input type="text" ng-model="providerDetails.secDiagnosisDesc">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <div>
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Policy Details 
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Event Country</label>
                                            <input type="text" ng-model="policyDetails.country" ng-value="'Dubai'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Claim Condition</label>
                                            <input type="text" ng-model="policyDetails.claimCondition">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default">
                            <div>
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Member Details 
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis</label>
                                            <input type="text" ng-model="memberDetails.primaryDiagnosis" ng-value="'Stomach Pain'">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Primary Diagnosis Description</label>
                                            <input type="text" ng-model="memberDetails.primaryDiagDesc">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis (ICD)</label>
                                            <input type="text" ng-model="memberDetails.secDiagnosis">
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm>    
                                            <label>Secondary Diagnosis Description</label>
                                            <input type="text" ng-model="memberDetails.secDiagnosisDesc">
                                        </md-input-container>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn">More...</a>
                            </div>
                        </div>    
                    </uib-accordion>
                </div>                
            </div>
            <div class="rightContentPart float-right pr-0 pb-3">
                <a href="javascript:;" class="infoToggleBtn" ng-class="{'infoToggleBtnToggled' : infoToggle}" ng-style="{'margin-left' : !infoToggle ? '12px' : '0px'}" ng-click="infoToggle = !infoToggle"><span class="oi" data-glyph="arrow-right"></span> <br />info</a>
                <div class="medicalCardInfoBox medicalCardInfoBoxShow" id="medicalCardInfoBox" ng-class="{'medicalCardInfoBoxShow' : !infoToggle}">
                    <h3>Medical card info</h3>
                    <ul>
                        <li>
                            <span>Inpatient: </span>
                            <span>Nil</span>
                        </li>   
                        <li>
                            <span>Pharmacy:</span>
                            <span>10%</span>
                        </li>
                        <li>
                            <span>Consultation:</span>
                            <span>50 AED</span>
                        </li>
                        <li>
                            <span>Dental:</span>
                            <span>10%</span>    
                        </li>
                        <li>
                            <span>Lab:</span>
                            <span>10%</span>
                        </li>
                    </ul>
                </div>
                <ul class="infoList clearfix">
                    <li>
                        <span>Claim Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Request Number</span>
                        <strong>10010201-1</strong>
                    </li>
                    <li>
                        <span>Status</span>
                        <strong class="text-success">Approved</strong>
                    </li>
                    <li>
                        <span>Policy Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Voucher Number</span>
                        <strong>80010201</strong>
                    </li>
                    <li>
                        <span>Member Number</span>
                        <strong>10010201-1</strong>
                    </li>
                </ul>
                <div class="requestListWrap clearfix">
                    <div class="requstListSlidePart">
                        <div class="requstList">
                            <ui-carousel slides="claimReqList" class="eclaim" style="width:{{getWidth()}};" slides-to-show="noOfSlides" slides-to-scroll="1" initial-slide="0" infinite="false">
                                <carousel-item  class="eclaim-item">
                                    <li>
                                        <span>Request Number: #{{item.reqNum}}</span><strong class="text-danger ml-2">Rejected</strong>
                                        <p>Claim Status Reason: {{item.statusReason}}</p>
                                        <p>Rejected Reason: {{item.rejectedReason}}</p>
                                    </li>
                                </carousel-item>                
                                <carousel-prev>
                                    <a href="javascript:;" class="requstListLeftArrow"><span class="oi" data-glyph="chevron-left"></span></a>
                                </carousel-prev>
                                <carousel-next>
                                    <a href="javascript:;" class="requstListRightArrow"><span class="oi" data-glyph="chevron-right"></span></a>
                                </carousel-next>
                            </ui-carousel>
                        </div>                        
                    </div>                    
                </div>
                <div class="eclaimRequest text-center mt-4">
                    <div class="clearfix">
                        <a href="javascript:;" class="custCheckboxBtn float-left" style="margin: 15px 9px 0px 6px !important;">
                            <span class="oi" data-glyph="check"></span>
                        </a>
                        <div class="btn-group btn-group-sm claimStatusBtns mt-2 mb-2 float-left" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="check"></span>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="thumb-up"></span>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <span class="oi" data-glyph="thumb-down"></span>
                            </button>                            
                        </div>
                        <h3 class="innerHeadText mt-2 mb-2 d-inline-block">Claim Treatment/Service Level</h3><div class="currencyType d-inline-block">Currency: AED</div>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" ng-click="addRow();">
                            <span class="oi" data-glyph="plus"></span>
                        </a>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" id="right-button">
                            <span class="oi" data-glyph="chevron-right"></span>
                        </a>
                        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 ml-2" id="left-button">
                            <span class="oi" data-glyph="chevron-left"></span>
                        </a>
                    </div>
                    <div class="table eclaimRequestTabl">
                        <div ui-grid="gridOptions" ui-grid-pinning="" ui-grid-edit="" class="eclaimRequestTabl"></div>
                    </div>
                </div>
            </div>
        
        </div>
        
        <footer class="clearfix">
            <button type="button" class="btn btn-primary btn-sm float-right ml-3 mt-3">Submit for Approval</button>
            <button type="button" class="btn btn-outline-primary btn-sm float-right ml-3  mt-3">Reject</button>
            <ul class="float-right clearfix mt-1">
                <li class="float-left">
                    <span>Total deduction</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Total Penalty Amount</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Total Approved Amount</span>
                    <strong>1,50,900</strong>
                </li>
                <li class="float-left">
                    <span>Rejected Amount</span>
                    <strong>1,50,900</strong>
                </li>
            </ul>
            
            <a href="javascript:;" class="btn-link footerLink mr-3 float-left">
                <span class="oi" data-glyph="print"></span>
                Print Rejection
            </a>
            <a href="javascript:;" class="btn-link footerLink float-left">
                <span class="oi" data-glyph="envelope-closed"></span>
                Send Rejection
            </a>
        </footer>
    </div>
</section>