<table class="table">
    <tbody>
        <tr ng-repeat="request in $ctrl.requests | orderBy : $ctrl.fieldName : $ctrl.reverse">
            <td>
                <span class="align-middle">
                    <a href="javascript:;" class="custSelectBtn" ng-class="{custSelectBtnSected : d.selected}" aria-label="Select" ng-click="d.selected = !d.selected;">
                        <span class="oi align-middle l-8" data-glyph="check"></span>
                    </a>
                </span>
            </td>
            <td ng-repeat="header in $ctrl.headers" class="{{header.class}}">
                <div ng-repeat="h in header">
                    <div class="d-inline-block pr-2" ng-if="h.isBatch">{{h.label}}:
                        <span class="currencyTypeCustom">{{request[h.fieldName]}}</span>
                    </div>
                    <div class="text-nowrap" ng-if="!h.isBatch && !h.isfinal && !h.istotal && !h.istimer">
                        <strong class="tablLal tablLal1">{{h.label}}:</strong>
                        <strong>{{request[h.fieldName]}}</strong>
                    </div>
                    <div class="text-nowrap" ng-if="h.isfinal">
                        <span class="tablLal" style="display: contents !important;">{{h.label}}:</span>
                        <span class="tablCont">{{request[h.fieldName]}}</span>
                    </div>
                    <!-- h.fieldname :: {{h.fieldName}}  -->
                    <div class="text-nowrap text-right" ng-if="h.istotal">
                        <div>{{h.label}}:</div>
                        <h4>Rs.{{request[h.fieldName]}}</h4>
                    </div>
                    <!-- <div class="text-nowrap clearfix" ng-if="true">
                        <div class="receiveInfo d-inline-block pr-3 float-left">
                            <span class="oi" data-glyph="timer"></span>{{h.label}} {{request[h.fieldName]}}
                        </div>
                        
                        <div ng-if="request.status == 'Rejected'" class="statusInfo d-inline-block float-left" ng-class="{'text-danger' : request.status== 'Rejected'}">
                            <span class="oi" data-glyph="thumb-down"></span> {{request.status == 'Rejected' ? 'Rejected' : 'Approved'}}
                        </div>
                        <div ng-if="request.status== 'Approved'" class="statusInfo d-inline-block float-left" ng-class="{'text-success' : request[h.fieldName]== 'Approved'}">
                            <span class="oi" data-glyph="thumb-up"></span> {{request.status == 'Rejected' ? 'Rejected' : 'Approved'}}
                        </div> -->
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- <div class="receiveInfo d-inline-block pr-3 float-left">
    <span class="oi" data-glyph="timer"></span>{{h.label}} {{request[h.fieldName]}}
</div>
<div class="statusInfo d-inline-block float-left" ng-class="{'text-danger' : request[h.fieldName]== 'Rejected', 'text-success' : request[h.fieldName]== 'Approved'}">
    <span class="oi" data-glyph="thumb-down"></span> {{request[h.fieldName] == 'Rejected' ? 'Rejected' : 'Approved'}}
</div> -->