<nav class="navbar pt-1 pb-1">
<span ui-sref="reimbursement-user-assignment" class="navbar-brand p-0 m-0"><i class="fa fa-arrow-left" style="cursor:pointer"></i>&nbsp;&nbsp;<span data-translate="reimbursementProcessing.title">Reimbursement Claims : Processing</span></span>
</nav>
<section id="reimbursment">
    <div class="leftContainer">
        <div class="row m-0">
            <div class="leftContentPart float-left pl-0" id="detailAccWrap" ng-class="{'detailAccWrapClose' : !infoToggle}">
                <div id="detailAcc" style="height:90%; overflow-y: auto;">
                    <form name="reimbursementForm" novalidate>
                        <uib-accordion close-others="isCloseOthers">
                            <div uib-accordion-group class="panel-default" is-open="accordionToggle.isProviderDetailOpen">
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Provider Details 
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading> 
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.primaryDiag.$invalid}">    
                                            <label>Primary Diagnosis</label>
                                            <input name="primaryDiag" type="text" ng-model="providerDetails.primaryDiagnosis" ng-value="'501.02'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.primaryDiagDisc.$invalid}">
                                            <label>Primary Diagnosis Disc</label>
                                            <input name="primaryDiagDisc" type="text" ng-model="providerDetails.primaryDiagDisc" ng-value="'Surgery'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.secDiag.$invalid}">    
                                            <label>Secondary Diagnosis (ICD)</label>
                                            <input name="secDiag" type="text" ng-model="providerDetails.secDiagnosis" ng-value="'301.2,508.2'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.secDiagDesc.$invalid}">    
                                            <label>Secondary Diagnosis Description</label>
                                            <input name="secDiagDesc" type="text" ng-model="providerDetails.secDiagnosisDesc" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.providerName.$invalid}">    
                                            <label>Provider Name</label>
                                            <input name="providerName" type="text" ng-model="providerDetails.providerName" ng-value="'Alnoor Hospital'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.providerCode.$invalid}">    
                                            <label>Provider Code</label>
                                            <input name="providerCode" type="text" ng-model="providerDetails.providerCode" ng-value="'4341'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.providerLicense.$invalid}">    
                                            <label>Provider License</label>
                                            <input name="providerLicense" type="text" ng-model="providerDetails.providerLicense" ng-value="'MF28291'" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.voucherNum.$invalid}">    
                                            <label>Voucher Number</label>
                                            <input name="voucherNum" type="text" ng-model="providerDetails.voucherNumber" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm  ng-class="{'md-input-invalid' : submitted && reimbursementForm.encTyp.$invalid}">
                                            <label>Encounter Type </label>
                                            <input name="encTyp" type="text" ng-model="providerDetails.encounterType" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.claimTyp.$invalid}">    
                                            <label>Claim Type</label>
                                            <input name="claimTyp" type="text" ng-model="providerDetails.claimType" required />
                                        </md-input-container>
                                    </div>
                                    <div ng-show="showProviderMore">
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Provider Network</label>
                                                <input type="text" ng-model="providerDetails.providerNetwork" ng-value="'P,S,G'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="!showProviderMore" ng-click="showProviderMore=!showProviderMore">More...</a>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="showProviderMore" ng-click="showProviderMore=!showProviderMore">Few...</a>
                            </div>
                            <div uib-accordion-group class="panel-default" is-open="accordionToggle.isClaimDetailOpen">
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Claim Details
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.eventCountry.$invalid}">    
                                            <label>Event Country</label>
                                            <input name="eventCountry" type="text" ng-model="claimDetails.country" required />
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div uib-accordion-group class="panel-default" is-open="accordionToggle.isPolicyDetailOpen">
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Policy Details
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.claimCondition.$invalid}">
                                            <label>Claim Condition</label>
                                            <input name="claimCondition" type="text" ng-model="policyDetails.claimCondition" ng-value="'Special Case/Ex-Gratia'" required/>
                                        </md-input-container>
                                    </div>
                                    <div ng-show="showPolicyMore">
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Policy No/Renewal No</label>
                                                <input type="text" ng-model="policyDetails.policyNumber" ng-value="'515621'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Policy Name</label>
                                                <input type="text" ng-model="policyDetails.policyName" ng-value="'Medic Policy'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix"> 
                                            <md-input-container flex-gt-sm>    
                                                <label>Policy Start</label>
                                                <md-datepicker  ng-keyup="clearDatepickerKeyupValue($event);" ng-model="policyDetails.policyStart" md-hide-icons="triangle" md-open-on-focus ng-disabled="true"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Policy End</label>
                                                <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="policyDetails.policyEnd" md-hide-icons="triangle" md-open-on-focus ng-disabled="true"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Claim Paid To</label>
                                                <input type="text" ng-model="policyDetails.claimPaidTo" ng-value="'Principle Member/Customer'"  ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="!showPolicyMore" ng-click="showPolicyMore=!showPolicyMore">More...</a>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="showPolicyMore" ng-click="showPolicyMore=!showPolicyMore">Few...</a>
                            </div>
                            <div uib-accordion-group class="panel-default" is-open="accordionToggle.isMemberDetailOpen">
                                <uib-accordion-heading>
                                    <div class="p-1">
                                        <h5 class="mb-0">
                                            <button class="btn accordionBtn">Member Details 
                                                <span class="oi expanded" data-glyph="minus"></span>
                                                <span class="oi collapsed" data-glyph="plus"></span>
                                            </button>
                                        </h5>
                                    </div>
                                </uib-accordion-heading>
                                <div class="accordion-input">
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.memberName.$invalid}">
                                            <label>Member Name</label>
                                            <input  name="memberName" type="text" ng-model="memberDetails.memberName" ng-value="'Khalifa'" ng-disabled="true" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.memberNum.$invalid}">    
                                            <label>Member No</label>
                                            <input name="memberNum" type="text" ng-model="memberDetails.memberNo" ng-value="'500001-1-A'" ng-disabled="true" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.category.$invalid}">    
                                            <label>Category</label>
                                            <input name="category" type="text" ng-model="memberDetails.category" ng-value="'B'" ng-disabled="true" required />
                                        </md-input-container>
                                    </div>
                                    <div class="fldsWrap clearfix">
                                        <md-input-container flex-gt-sm ng-class="{'md-input-invalid' : submitted && reimbursementForm.gender.$invalid}">    
                                            <label>Gender</label>
                                            <input name="gender" type="text" ng-model="memberDetails.gender" ng-value="'Male'" ng-disabled="true" required />
                                        </md-input-container>
                                    </div>
                                    <div ng-show="showMemberMore">
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Age</label>
                                                <input type="number" ng-model="memberDetails.age" ng-value="'52'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Member Network</label>
                                                <input type="text" ng-model="memberDetails.memberNetwork" ng-value="'P'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Member Terminated Date</label>
                                                <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="memberDetails.memberTerminatedDate" md-hide-icons="triangle" md-open-on-focus ng-disabled="true"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Member Start Date</label>
                                                <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="memberDetails.memberStartDate" md-hide-icons="triangle" md-open-on-focus ng-disabled="true"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Card Received Date</label>
                                                <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="memberDetails.cardRecievedDate" md-hide-icons="triangle" md-open-on-focus ng-disabled="true"></md-datepicker>
                                            </md-input-container>
                                        </div>
                                        <div class="fldsWrap clearfix">
                                            <md-input-container flex-gt-sm>    
                                                <label>Dependency/Relation</label>
                                                <input type="text" ng-model="memberDetails.dependencyOrRelation" ng-value="'Principle Member'" ng-disabled="true">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="!showMemberMore" ng-click="showMemberMore=!showMemberMore">More...</a>
                                <a href="javascript:;" class="btn-link moreBtn" ng-show="showMemberMore" ng-click="showMemberMore=!showMemberMore">Few...</a>
                            </div>
                        </uib-accordion>
                    </form>    
                </div>         
            </div>
            <div class="rightContentPart float-right pr-0 pb-3">
                <a href="javascript:;" class="infoToggleBtn" ng-class="{'infoToggleBtnToggled' : infoToggle}" ng-click="toggleInfo();" ng-style="{'margin-left' : !infoToggle ? '12px' : '37px'}"><span class="oi" data-glyph="arrow-right"></span> <br />info</a>
                <div class="row col-sm-12">
                    <div class="infoList clearfix  col-sm-8">
                        <div class="row">
                            <li>
                                <span>Claim Number</span>
                                <strong>{{selectedClaim.claimNo}}</strong>
                            </li>
                            <li>
                                <span>Request Number</span>
                                <strong>{{selectedClaim.requestNo}}</strong>
                            </li>
                            <li>
                                <span>Status</span>
                                <strong ng-class="{'text-success' : selectedClaim.status == 'Approved', 'text-danger' : selectedClaim.status == 'Rejected'}">{{selectedClaim.status}}</strong>
                            </li>
                            <li>
                                <span>Policy Number</span>
                                <strong>{{selectedClaim.policyNo}}</strong>
                            </li>
                            <li>
                                <span>Member Number</span>
                                <strong>{{selectedClaim.memberNo}}</strong>
                            </li>
                        </div>
                        <div class="row reimbursement-carousel">
                            <ui-carousel slides="claimReqList" class="" slides-to-show="1" slides-to-scroll="1" initial-slide="0" style="width:100%;margin:0px">
                                <carousel-item  class="eclaim-item">
                                    <ul>
                                        <li style="cursor:pointer; width:25%">
                                            <span>
                                                <b>Request Number:</b><span class="currencyTypeCustom" ng-click="toggleJson(item);">#{{item.reqNum}}</span> 
                                            </span>
                                        </li>
                                        <li style="width:20%">
                                            <span><b>Claim Status:</b> <span ng-class="{'text-success' : item.status == 'Approved', 'text-danger' : item.status == 'Rejected'}">{{item.status}}</span></span>
                                        </li>    
                                        <li style="width:32%;" class="text-elipsis">
                                            <span><b>Claim Status Reason:</b> <span style="color:#4e5e82">{{item.statusReason}}</span></span>
                                        </li>
                                        <li style="width:20%; text-align:right;">
                                            <span ng-show="item.status == 'Approved'"><b>Approved Amount:</b> <span style="color:#4e5e82;">{{item.approvedAmount}}</span></span>
                                            <span ng-show="item.status == 'Rejected'"><b>Rejected Amount:</b> <span style="color:#4e5e82;">{{item.rejectedAmount}}</span></span>
                                        </li>
                                    </ul>
                                </carousel-item>                
                                <carousel-prev>
                                    <a href="javascript:;" class="requstListLeftArrow"><span class="oi" data-glyph="chevron-left"></span></a>
                                </carousel-prev>
                                <carousel-next>
                                    <a href="javascript:;" class="requstListRightArrow"><span class="oi" data-glyph="chevron-right"></span></a>
                                </carousel-next>
                            </ui-carousel>
                        </div>
                    </div>                    
                    <div class="medicalCardInfoBox medicalCardInfoBoxShow" id="medicalCardInfoBox">
                        <h3>Medical card info</h3>
                        <!-- <ul> -->
                            <li style="list-style: none;">
                                <span style="width: auto !important;padding-left: 6px;"> Insured Name:</span>
                                <span>High Treatment Service - Medic Policy</span>
                            </li> 
                        <!-- </ul> -->
                        <ul>
                            <li>
                                <span>Age:</span>
                                <span>20</span>
                            </li>  
                            <li>
                                <span>Gender:</span>
                                <span>Female</span>
                            </li>  
                            <li>
                                <span>Marital Status:</span>
                                <span>Single</span>
                            </li>
                            <li>
                                <span>Member N/W:</span>
                                <span>AEM</span>
                            </li> 
                        <!-- <li>
                        <span>Policy Name:</span>
                        <span>HTS-Medic Policy HTS-Medic Policy HTS-Medic Policy</span>
                        </li>  -->
                            <li>
                                <span>Inpatient: </span>
                                <span>Nil</span>
                            </li>   
                            <li>
                                <span>Pharmacy:</span>
                                <span>10%</span>
                            </li>
                            <li>
                                <span>Consultation:</span>
                                <span>50 AED</span>
                            </li>
                            <li>
                                <span>Dental:</span>
                                <span>10%</span>    
                            </li>
                            <li>
                                <span>Lab:</span>
                                <span>10%</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="createNew">
                    <div class="claimRequestDetails">
                        <div class="claimRequestDetInner mb-3 clearfix">
                            <div layout-gt-sm="row" class="col-sm-12 pb-1">
                                <div class="masterCodes float-left" style="border: 1px solid #b3b3b3;margin: 0 3px 0 0;width: 50% !important;">
                                    <md-autocomplete
                                        md-selected-item="claim.treatmentCodeOrSubBenefit"
                                        md-search-text="searchText"
                                        md-items="item in querySearch(searchText, 'T')"
                                        md-item-text="item.name"
                                        md-floating-label="Treatment Code/Sub Benefit"
                                        md-clear-button="true"
                                        style="height: 55px;">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Result Found
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div class="float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 35% !important;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Service From</label>
                                        <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="claim.serviceFrom" md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 35% !important;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Service To</label>
                                        <md-datepicker ng-keyup="clearDatepickerKeyupValue($event);" ng-model="claim.serviceTo" md-hide-icons="triangle" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                                <div class="float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 20% !important;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Days</label>
                                        <input type="number" ng-model="claim.days">
                                    </md-input-container>
                                </div>
                                <div class="float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 30% !important;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Requested Amount</label>
                                        <input type="number" ng-model="claim.requestAmount">
                                    </md-input-container>
                                </div>
                                <div class="cfloat-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 30% !important;">
                                    <md-input-container flex-gt-sm style="margin-top: 18px;">    
                                        <label>Manual Deduction</label>
                                        <input type="number" ng-model="claim.manualDeduction">
                                    </md-input-container>
                                </div>
                                <div class="masterCodes float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;width: 40% !important;">
                                    <md-autocomplete
                                        md-selected-item="claim.rejectionCode"
                                        md-search-text="rejectionText"
                                        md-items="item in querySearch(rejectionText, 'R')"
                                        md-item-text="item.name"
                                        md-floating-label="Rejection Code"
                                        md-clear-button="true"
                                        style="height: 55px;">
                                        <md-item-template>
                                            <span md-highlight-text="rejectionText" md-highlight-flags="^i">{{item.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No Result Found
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                            </div>
                            <div class="withoutBorWrap clearfix mb-2 pb-1">
                                <div layout-gt-sm="row">
                                    <div class="col-sm-2 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">   
                                            <label>Policy Ded Amount</label>
                                            <input type="number" ng-model="claim.policyDedAmount" ng-init="claim.policyDedAmount=0" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Penalty Amount</label>
                                            <input type="number" ng-model="claim.penaltyAmount" ng-init="claim.penaltyAmount=0" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Suggessted Amt</label>
                                            <input type="number" ng-model="claim.suggesstedAmount" ng-init="claim.suggesstedAmount=0" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Approved Amount</label>
                                            <input type="number" ng-model="claim.approvedAmount" ng-init="claim.approvedAmount=0" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2 float-left">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Rejected Amount</label>
                                            <input type="number" ng-model="claim.rejectedAmount" ng-init="claim.rejectedAmount=0" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-2 float-left" style="width: auto !important;">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Status</label>
                                            <input type="text" ng-model="claim.status" maxlength="18" ng-init="claim.status='Pending'" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-sm-12 withBorGrayTxtWrap clearfix pb-1">
                                <div layout-gt-sm="row" class="pb-1">
                                    <div class="col-sm-4 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px 0 0;">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>Internal Remarks</label>
                                            <textarea class="claimReqIput" maxlength="150" ng-model="claim.internalRemarks"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4 float-left" style="border: 1px solid #b3b3b3;margin: 0 3px;">
                                        <md-input-container flex-gt-sm style="margin-top: 18px;">
                                            <label>External Remarks</label>
                                            <textarea class="claimReqIput" maxlength="150" ng-model="claim.externalRemarks"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4 float-left" style="margin-top: 1.5rem;">
                                        <button type="button" class="btn btn-primary btn-sm float-right ml-3 mt-3" ng-click="saveRecord('OnlySave');">Save</button>
                                        <button type="button" class="btn btn-primary btn-sm float-right ml-3 mt-3" ng-click="saveRecord('SaveAndNew');">Save & New</button>
                                        <button type="button" class="btn btn-outline-primary float-right btn-sm float-left ml-3  mt-3" ng-click="onCancel();">Cancel</button>
                                        <div class="btn-group btn-group-sm claimStatusBtns float-right" role="group" aria-label="Basic example" style="margin-top: 1rem !important;">
                                            <button type="button" class="btn btn-secondary">
                                                <span class="oi" data-glyph="check"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="oi" data-glyph="thumb-up"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="oi" data-glyph="thumb-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 pb-1" style="font-size:x-small">
                                Policy Rule: 
                                <div style="color:red;">Limit Rule:Out Patient</div>
                            </div>
                        </div>    
                    </div>
                </div>                
                <grid-wrapper ui-Grid-Options="gridOptions" inline-Edit="isInlineEdit" module="moduleName" on-Grid-Action="gridAction(info)"></grid-wrapper>
            </div>
        </div>
        <footer class="clearfix">
            <button type="button" class="btn btn-outline-primary btn-sm float-right ml-3 mt-3" ng-click="submitForApproval();">Submit for Approval</button>
            <button type="button" class="btn btn-outline-primary btn-sm float-right ml-3  mt-3" ng-click="rejectClaim();">Reject</button>
            <ul class="float-right clearfix mt-1">
                <li class="float-left">
                    <span>Base Currency</span>
                    <strong>AED</strong>
                </li>
                <li class="float-left">
                    <span>Total deduction</span>
                    <strong>{{totalDeductionAmount | number}}</strong>
                </li>
                <li class="float-left">
                    <span>Total Penalty Amount</span>
                    <strong>{{totalPenaltyAmount | number}}</strong>
                </li>
                <li class="float-left">
                    <span>Total Approved Amount</span>
                    <strong>{{totalApprovedAmount | number}}</strong>
                </li>
                <li class="float-left">
                    <span>Rejected Amount</span>
                    <strong>{{totalRejectedAmount | number}}</strong>
                </li>
            </ul>
            
            <a href="javascript:;" class="btn-link footerLink mr-3 float-left">
                <span class="oi" data-glyph="print"></span>
                Print Package
            </a>
            <a href="javascript:;" class="btn-link footerLink float-left mr-3">
                <span class="oi" data-glyph="envelope-closed"></span>
                Send Rejection
            </a>
            <a href="javascript:;" class="btn-link footerLink float-left">
                <span class="oi" data-glyph="document"></span>
                Documents & Correspondence
            </a>
        </footer>
    </div>
</section>